.main-video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdown-section {
  margin: 20px 0 10px 0
}

.video-section {
    width: 70%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.video {
    width: 100%;
    height: 55vh;
    margin: 10px;
}