.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: black;
    height: 100px;
}

.accordion-section {
    grid-column: 1/2;
 
}

.logo-section {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    filter: drop-shadow(1px 1px 30px white);
}

.logo:hover {
  filter: drop-shadow(1px 1px 30px black);
}


.links-section {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    text-decoration: none;
    color: white;
    margin: 5px
}

.links:hover {
    color: aquamarine;
}



