.footer-section {
    height: 130px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.design {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-links {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.names {
    text-decoration: none;
    color: white;
}

.names:hover {
    color: aquamarine
}

.socials {
  padding: 10px;
}

.socials:hover {
    color: aquamarine;
}

.social-links a {
    text-decoration: none;
    color: white;
}